.banner-slim {
      min-height: 93px;
      padding-top:17px;
      background: rgba(99, 96, 156, 0.9);
}

.banner-slim .page-title {
  margin:0px;
  margin-top:10px
}

.banner-slim .page-title:after,
.banner-slim .page-title:before {
    display: inline-block;
    content: '';
    background-image: url('/mysource_files/branding/palm.svg');
    background-size:contain;
    height: 25px;
    width: 40px;
}

.banner-slim .page-title:after {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter:  "FlipH";
    filter: FlipH;
}

.banner-slim h1.font-fibre {
    font-size: 45px;
    letter-spacing: 1.9px;
    padding: 0px;
    border-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner-slim img.squiz-logo-top {
  height:46px;
  width:auto;
}
